.post {
  width: 100%;
  max-width: 46rem;
  margin: 0 auto;
  margin-bottom: 0.75rem;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.75rem;

  padding: 1rem;
  border: 1px solid var(--gray-400);
  border-radius: 8px;

  color: var(--gray-100);
  font-size: 0.875rem;
  line-height: 1.5;

  background-color: var(--gray-500);
}

.postWithotBorder {
  width: 100%;
  max-width: 46rem;
  margin: 0 auto;
  margin-bottom: 0.75rem;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.75rem;

  padding: 1rem;
  border: none;
  border-radius: 8px;

  color: var(--gray-100);
  font-size: 0.875rem;
  line-height: 1.5;

  background-color: var(--gray-500);
}

.content {
  width: 46rem;
}

.contentCompleted {
  width: 46rem;
  opacity: 40%;

  text-decoration: line-through;
}

/* Hide the default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background: transparent;
  border-radius: 100%;
  border: 2px solid var(--blue);
}

.checkmark:hover {
  background-color: var(--blueDark);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-image: url(../assets/checked.svg);
  background-position: center;
  background-size: contain;
  border: none;
}

/* -------------------------------- */

.deleteNote {
  color: var(--gray-300);

  background-color: transparent;
  cursor: pointer;

  border: none;
  border-radius: 4px;

  display: flex;
  padding: 4px;
}

.deleteNote:hover {
  color: var(--danger);
  background-color: var(--gray-400);
}
