.status {
  width: 100%;
  max-width: 46rem;
  margin: 4rem auto 0;

  display: flex;
  justify-content: space-between;
}

.status div {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 0.875rem;
  font-weight: bold;
}

.status div h3 {
  background-color: var(--gray-400);
  border-radius: 99px;

  padding: 0.125rem 0.5rem;

  color: var(--gray-200);
}

.tarefasCriadas {
  color: var(--blue);
}

.tarefasConcluidas {
  color: var(--purple);
}
